//grid
$xs: 0;
$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;

//text colors
$white: #fff;
$text-accent: #4f4f6f;
$text-color: #9fa4af;

//bg colors
$accent: #ef5f31;
$accent-light: #e69026;

//border
$border-color: #d3d7e5;


